.contact {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #AB987A;
    /*21325e*/
}

form {
    width: 95%;
    margin: 1rem auto;

    display: flex;
    flex-flow: column;
    gap: 0.5rem;

}

.formElement {
    display: flex;
    flex-direction: column;
}

.formElement input,
.formElement input:focus {
    background-color: #efefef;
}

.formElement label {
    text-align: left;
}

textarea {
    height: 120px;
    resize: none;
    padding-top: 15px;
    background-color: #efefef;
}