.experience section p {
    padding: 1rem;
    font-size: 1.2rem;
    color: #0f1626;
    text-align: justify;
    width: 80%;
    margin: 1rem auto;
    background-color: rgba(211, 168, 112, 0.333);
}